body {
	margin: 0;
	padding: 0;
	font-family: 'Mukta Malar', sans-serif;
}

body * {
	font-family: 'Mukta Malar', sans-serif;
}

button:focus, input:focus, a:focus{
	text-decoration: none !important;
	outline: none !important;
}

header {
	width: 100%;
	height: 80px;
	text-align: center;
	color: rgba(255,255,255, 0.7);
	font-size: 20px;
	margin-bottom: 30px;
}
a {
	text-decoration: none;
	color: inherit;

}


header a{
	display: block;
	background-color: rgba(0,0,0, 0.4);
	width: 100%;
	height: 100%;
	padding-top: 5px;
	font-size: 24px;
	padding-bottom: 15px;
}

header a:hover {
	color: rgba(255,255,255, 0.9);
	background-color: rgba(0,0,0, 0.5);
}

.hashtag-word {
	font-size: 32px;
}

.background {
	width: 100%;
	height: 100%;
	z-index: -1;
	margin: 0;
	padding: 0;
	background-image: url("../images/dark.jpg");
	background-size:  100%;
	background-repeat: no-repeat;
	position: fixed;
}

.tweets-col {
	width: 30%;
	height: 100%;
	background-color: rgba(0,0,0, 0.0); 
	margin-left: 2.5%;
	float: left;
	color: rgba(255,255,255, 0.9);
	font-size: 20px;
}


.pos-tweets,
.neg-tweets,
.neu-tweets {
	margin-bottom: 30px;
	float: left;
	width: 94%;
	overflow-x: hidden;
	text-overflow: ellipsis;
	padding: 3%;
}

.count {
	margin-bottom: 10px;
}

.pos-tweets {
	background-color: rgba(0,80,0, 0.5);
}

.neu-tweets {
	background-color: rgba(20,20,20, 0.6);
}

.neg-tweets {
	background-color: rgba(80,0,0, 0.5);
}

.col_button {
	width: 32%;
	padding: 5px 0;
	font-size: 30px;
	color: rgba(255,255,255,0.9);
	display: none;
}

.pos_button {
	background-color: rgba(0, 100, 0, 0.6);
}

.pos_button:hover {
	background-color: rgba(0, 60, 0, 0.7);
}

.neu_button {
	background-color: rgba(20, 20, 20, 0.6);
}

.neu_button:hover {
	background-color: rgba(0, 0, 0, 0.7);
}

.neg_button {
	background-color: rgba(100, 0, 0, 0.6);
}

.neg_button:hover {
	background-color: rgba(60, 0, 0, 0.7);
}

@media(max-width: 1000px) {
	.background {
		height: 100%;
		background-color: black;
		background-position: -200px 0;
		background-size: 1500px;
		z-index: -1;
		margin: 0;
		padding: 0;
		background-image: url("../images/mobile.jpg");
		background-repeat: no-repeat;
		position: fixed;
	}

	header {
		height: 150px;
	}

	header a{
		font-size: 40px;
	}

	.hashtag-word {
		font-size: 50px;
	}

	.col_button {
		display: block;
		float: left;
		margin-bottom: 30px;
		border: 0px;
	}
	.tweets-col {
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0, 0.0); 
		margin-left: 0%;
		float: left;
		color: rgba(255,255,255, 0.9);
		font-size: 20px;
	}

	.count {
		display: none;
	}
	.wide {
		width: 70%;
	}

	.small {
		width: 15%;
		height: 60px;
		overflow-x: hidden;
		overflow-y: hidden;
		text-overflow: ellipsis;
	}
}